<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="/static/styles/global.css" />
  </head>
  <body>
    <main>
      <h1>{{ .Title }}</h1>
      <p>Mi página web de fiber y Go</p>

      <img src="/static/images/motorcycle.svg" alt=" Motorcycle " width="500" />

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse cum perspiciatis cupiditate suscipit ipsum aut quae obcaecati commodi? Obcaecati eum quas dolore perspiciatis reiciendis. Omnis incidunt tenetur possimus dolores adipisci.
      </p>

      <h2>Contacto</h2>

      <ul>
        <li>  <a href="https://github.com/gofiber/fiber">Github</a></li>
        <li>  <a href="https://twitter.com/gofiberio">Twitter</a></li>
        <li>  <a href="https://discord.gg/gofiber">Discord</a></li>
      </ul> 
    </main>
  </body>
</html>
